<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Kanban Board - Login</title>
    <link rel="stylesheet" href="/static/css/auth.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.png" />
  </head>
  <body>
    <main>
      {% if message %}
      <div
        class="modal-container conditional"
        id="notification-modal-container"
      >
        <div class="modal" id="notification-modal">{{message}}</div>
      </div>
      {% endif %} {% block content %}{% endblock %}
    </main>
    <script src="/static/js/auth/auth.js"></script>
    <script src="/static/js/global.js"></script>
    {% block javaScript %} {% endblock %}
  </body>
</html>
