{% extends "auth/_auth.html" %} {% from "auth/_macros.html" import input with
context %} {% block content %}
<div class="login-box">
  <h1>Forgot password</h1>
  <form action="/" method="POST" id="forgot-password-form">
    {{ input('Email Address', 'email', 'email') }}
    <button type="submit">
      <span>Send email</span>
      <div></div>
    </button>
  </form>
  <a href="/auth/register" class="sign-up">Sign in now!</a>
</div>
{% endblock %} {% block javaScript %}
<script src="/static/js/auth/forgotPassword.js" type="module"></script>
{% endblock %}
