{% extends "auth/_auth.html" %} {% from "auth/_macros.html" import input with
context %} {% block content %}
<div class="login-box">
  <h1>Welcome</h1>
  <form action="/" method="POST" id="login-form">
    {{ input('Email Address', 'email', 'email') }} {{ input('Password',
    'password', 'password') }}
    <button type="submit">
      <span>Login</span>
      <div></div>
    </button>
  </form>
  <a href="/auth/register" class="sign-up"
    >Still don't have an account? Sign up now!</a
  >
  <a href="/auth/forgot-password" class="sign-up">Forgot Password</a>
</div>
{% endblock %} {% block javaScript %}
<script src="/static/js/auth/login.js" type="module"></script>
{% endblock %}
