<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="login.css"/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<title>Login Page</title>
</head>
<div class=navigation>  
    <div class = menu>
    <span  class="page">Swipe</span>
    <span  class="page">My Account</span>
    <span  class="page">My Preferences</span>
    <span  class="page">My Munches</span>
    <span  class="page">About us</span>
</div>
</div>
<div class=visuals>
    <div class="food"><span class="no"></span><span class="yes"></span></div>
    <div class="text3">Get ready to meet your perfect match</div>
</div>
<div class=login>
  <div class=text>Welcome back.</div>
  <form>
    <div  class="text1">Username</div>
      <div class=input_box></div>
    <div  class="text1">Password</div>
    <div class=input_box></div>
    <div class=password_box></div>
    <div class="forgot">Forgot password?</div>
    <div class="rectangle"> <button type="submit" class=log_in_button>
    <span  class="text2">Log In</span>
  </button></div>
  <div class="or"><span>or</span></div>
  <div class="rectangle"></div>
  <button type="submit" class=sign_up_button>
    <span  class="text2">Sign Up</span>
  </button>
  </form>
  </div>


