{% extends "auth/_auth.html" %} {% from "auth/_macros.html" import input with
context %} {% block content %}
<div class="login-box">
  <h1>Join us</h1>
  <form action="/" id="register-form">
    {{ input('First Name', 'firstName', "text") }} {{ input('Last Name',
    'lastName', "text") }} {{ input('Email Address', 'email', 'email') }} {{
    input('Password', 'password', 'password') }}
    <button type="submit">
      <span>Register</span>
      <div></div>
    </button>
  </form>
  <a href="/auth/login" class="sign-up"
    >Already have an account? Sign in now!</a
  >
</div>
{% endblock %} {% block javaScript %}
<script src="/static/js/auth/register.js" type="module"></script>
{% endblock %}
