<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/static/css/auth.css"/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<title>Authentication</title>
</head>
<body>
<div class=navigation>  
    <div class = menu>
    <span  class="page">Swipe</span>
    <span  class="page">My Account</span>
    <span  class="page">My Preferences</span>
    <span  class="page">My Munches</span>
    <span  class="page">About us</span>
</div>
</div>
<div class=visuals>
    <div class="food"><span class="no"></span><span class="yes"></span></div>
    <div class="text3">Get ready to meet your perfect match</div>
</div>
<div class="container">
<form class = "form" id = "resetPassword">
    <div class = "form__input-group">
      <div class=text>Reset your password?</div>
      <div class="form__message form__message--error"></div>
      <div class="text1">New password</div>
      <input type="text" class="form__input">
      <div class="text1">Confirm new password</div>
      <input type="text" class="form__input">
      <button class ="form__button" type="submit">
      <span  class="text2">Update my password</span>
      </button>
      <p class="form__text">
        <a class="form__link" href="/auth.html" id="linkLogin">Go back to sign in page</a>
      </p>
      </div>
    </form>
    <script src="/static/js/auth.js"></script>
</div>
</body>
