{% extends "auth/_auth.html" %} {% from "auth/_macros.html" import input with
context %} {% block content %}
<div class="login-box">
  <h1>Reset Your Password</h1>
  <form action="/" method="POST" id="reset-password-form">
    {{ input('New Password', 'password', 'password') }}
    <button type="submit">
      <span>Reset Password</span>
      <div></div>
    </button>
  </form>
</div>
{% endblock %} {% block javaScript %}
<script src="/static/js/auth/resetPassword.js" type="module"></script>
{% endblock %}
