{% extends "base_dashboard.html" %} {% block title %} New meal {% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/new_meal.css" /> {%
    endblock %}
{% block content %}
<div class = container>
    <div class = "post">
        <div class = "notif">Thank you for the information!</div>
        <div class = "edit">EDIT</div>
    </div>

    <div class = "review">
    <form>
    <div class = "text">Add a new dish here!</div>
        <div class ="textarea">
            <div class = "text1">Dish</div>
            <textarea cols = "30" placeholder="What is this dish called?"></textarea>
        </div>
        <div class ="textarea">
            <div class = "text2">Price</div>
            <textarea cols = "30" placeholder="How much does it cost?"></textarea>
        </div>
        <div class ="textarea">
            <div class = "text3">Address</div>
            <textarea cols = "30" placeholder="Where can we find this dish?"></textarea>
        </div>
        <div class = "rate">
            <button type = "submit">SUBMIT</button>
        </div>
        </form>
    </div>
</div>
<script src="static/js/swipe/new_meal.js"></script>
</body>