* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: white;
}

.container {
    position: relative;
    width: 700px;
    background: #F2CF53;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: 60%;
}

.container .notif {
    font-size: 24px;
    color: #C91818;
    font-weight: 400;
    margin-top: 30%;
    margin-left: 25%;
}

.container .text {
    font-size: 24px;
    color: #C91818;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 30%;
}

.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container .edit:hover {
   text-decoration: underline; 
}

.post {
    display: none;
}


form {
    width: 100%;
}


form .textarea {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

.text1 {
    position: absolute;
    height: 50%;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 4%;
}

.text2 {
    position: absolute;
    height: 50%;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 15%;
}

.text3 {
    position: absolute;
    height: 50%;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 26%;
}

form .textarea textarea {
    float:right;
    height: 30%;
    outline: none;
    border: 1px solid #666666;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    color: #666666;
    resize: none;
    width: 75%;
    margin-top: 3%;
    margin-right: 5%;
}

form .rate {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .rate button{
    height: 100%;
    width: 100%;
    border: 1px solid #A5A5A5;
    outline: none;
    background: #EB5353;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5%;
}

form .rate button:hover {
    background: #C91818;
}