<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/style.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Dish Swiping</title>
</head>



<body>
  <nav>
    <a href="/munchmatch">
      <img src="static/icon.png" height="20" width="25"><span class="munch">Munch</span><span class="match">Match</span>
    </a>
    <a href="/swipe">Swipe</a>
    <a href="/my_account">My Account</a>
    <a href="/my_preferences">My Preferences</a>
    <a href="/my_munches">My Munches</a>
    <a href="/about_us">About Us</a>
  </nav>


  <div class="swiper-container">
    <ion-icon id = 'swipe_forward' name="checkmark-circle-outline"></ion-icon>
    <div id="swiping"> </div>
    <ion-icon id = 'swipe_backward' name="close-circle-outline"></ion-icon>
  </div>
  
  <script src="./dish.js"></script>
  <script src="./script.js"></script>
  
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


</body>
</html>